[Unit]
Description=bt-pan service
After=bluetooth.service
Requires=bluetooth.service
 
[Service]
ExecStart=/usr/local/bin/bt-pan server pan0
 
[Install]
WantedBy=multi-user.target
