[Unit]
Description=Mount unit for core20, revision 1826
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/core20_1826.snap
Where=/snap/core20/1826
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
